.app_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cards {
  width: 140px;
  height: 130px;
  background: #fef3ed;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 20px 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}

.cards:hover {
  border: 2px solid #f85c04;
}

.cards img {
  height: 60px;
  width: 50px;
}

// .cards .bill-img {
//   width: 50px;
// }

.app_name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
}

.app_name p {
  color: #000;
  font-size: 15px;
  // max-width: 90px;
}

.app_name ion-icon {
  color: #000;
  font-size: 16px;
  //  margin-top: -16px;
}

.small-p {
  /// margin-top: 24px;
}

.section_header {
  color: #000000 !important;
  margin-bottom: 20px;
  font-size: 18px;
  // font-weight: 600;
}
