.dash_action_cta {
  background: #18b49c;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  padding: 5px 15px;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dash_action_cta ion-icon {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 24px;
}
